<%- include("../home/head.ejs") %>
<link rel="stylesheet" href="/css/home/home.land.css">
</head>
<body> 
       
  <%- include("../home/nav.ejs") %>

    <div class="container">

        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h2>know your </h2>
                <h3>college</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quidem!</p>
             
               <div class="search-box">
                  <input type="text" class="search-txt" placeholder="type to search"></div>
                  <a href="/list" class="search-btn">
                    <i class="fa fa-subway" aria-hidden="true"></i>
                  </a>
              </div>
            <div class="col-12 col-lg-8">
                <img src="/images/mainbenner.png" alt="Team process banner">
            </div>
        </div>
    </div>
      

<section>
  

  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/details/KYC001" role="button">Learn more</a>
    </p>
  </div>


 <div class="containeri">
    <div class="card-left">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        
        <a href="/details/KYC001">Sri Ram College of commerce</a>
      </div>
    </div>
    <div class="card-top">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Deen Dyal Singh college</a>
      </div>
    </div>
    <div class="card-right">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Deen Dyal Singh college</a>
      </div>
    </div>
    <div class="card-right">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Sri Ram College of commerce</a>
      </div>
    </div>
    <div class="card-top">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Sri Ram College of commerce</a>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Sri Ram College of commerce</a>
        
      </div>
    </div>
    <div class="card-left">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Sri Ram College of commerce</a>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-image">
        <img src="/images/hansraj.jpeg" alt="" srcset="">
      </div>
      <div class="card-text">
        <a href="/details/KYC001">Sri Ram College of commerce</a>
      </div>
    </div>
  </div>
</section>


<div class="card " style="width: 100% ;">
  <img class="card-img-top h-250" style="height:250px;" src="/images/unnamed.gif" alt="Card image cap">
 
</div>

 
<%- include("../home/footer.ejs") %>






 
  